<style>
  footer{
    margin-top: 100px;
    background-color: #002560;
    color: white;
  }

  footer a {
    color: white;
  }

  footer a:hover{
    color: white;
  }
</style>
<footer>
  <div class="container">
    <br>
    <p><a href="/datenschutz">Datenschutzerklärung</a>  |  <a href="/impressum">Impressum</a>  |  <a href="" data-toggle="modal" data-target="#infomodal">Information</a></p>
    <br>
  </div>
</footer>

<div class="modal fade" id="infomodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Information</h4>
      </div>
      <div class="modal-body">
        <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        <p>Flags provided
          <a href="https://github.com/gosquared/flags/blob/master/LICENSE.txt">under MIT licence</a>
           by
          <a href="https://github.com/gosquared/flags">GoSquared</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
