<style>
  body {
    margin-top: 50px;
  }

  .navbar-brand{
      background-image: url(img/logo_klein.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 120px;
  }
</style>

<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
  <div class="container-fluid">
    <!-- Titel und Schalter werden für eine bessere mobile Ansicht zusammengefasst -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#targetMobile" aria-expanded="false">
          <span class="sr-only">Navigation ein-/ausblenden</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Alle Navigationslinks, Formulare und anderer Inhalt werden hier zusammengefasst und können dann ein- und ausgeblendet werden -->
    <div class="collapse navbar-collapse" id="targetMobile">
      <div class="login-group">
        <ul class="nav navbar-nav">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/sammlung" >Sammlung</a></li>
        </ul>
      </div>
      <div class="logout-group" hidden>
        <ul class="nav navbar-nav">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/sammlung" >Sammlung</a></li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <form id="login-form" method="post" action="/login" class="navbar-form navbar-left" role="search">
          <div class="login-group">
            <div class="form-group">
              <input type="email" id="emailLogin" name="email" placeholder="Email-Adresse" class="form-control" required>
              <input type="password" id="passwordLogin" name="password" placeholder="Passwort" class="form-control" required>
            </div>
            <button type="submit" id="login-button" class="btn btn-success">Login</button>
          </div>
          <div class="logout-group" hidden>
            <div class="form-group">
              <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
          </div>
          <!--<a id="logginbutton" class="btn btn-success" onclick="loggin()">Login</a>-->
        </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script>
  if({{loggedIn}}){
    $('.login-group').hide();
    $('.logout-group').show();
  }else{
    $('.login-group').show();
    $('.logout-group').hide();
  }
  // $('#login-button').click(function(e){
  //     e.preventDefault();
  //     if($('#emailLogin').val() == "" || $('#passwordLogin').val() == ""){
  //       $('#login-form').addClass("has-error");
  //     }else{
  //       $("#login-form").unbind("submit").submit();
  //     }
  // });
</script>

<h1>{{pageTitle}}</h1>
