<header>
  <h1>{{pageTitle}}</h1>
  <p><a href="/">Home</a></p>
  <p><a href="/sammlung">Sammlung</a></p>
  <p><a href="/register">Registrieren</a></p>
  <p><a href="/login">Login</a></p>
  <p><a href="/logout">Logout</a></p>
  <p><a href="/add">Add</a></p>
</header>
