<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>

    {{> import}}
    <style>
    </style>
  </head>
  <body>
    {{> header}}
    <div class="container">
      <h1>Tauschtransaktion hinzufügen</h1>
      <div id="error" class="alert alert-danger" role="alert" hidden>Fehler im Formular</div>
      <form method="post">
        <div class="form-group">
          <label for="name">Tauschpartner *</label>
          <select class="form-control" name="_tradePartner" required>
            {{#each partners}}
              <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <label for="date">Datum (Format: Jahr-Monat-Tag) *</label>
          <input type="date" name="date" class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="sendCapsJSON">JSON gesendete Kronkorken</label>
          <input type="text" name="sendCapsJSON" class="form-control" placeholder="[{id}]"/>
        </div>
        <div class="form-group">
          <label>
            <input type="checkbox" name="blind"> Blind Trade?
          </label>
        </div
        <p>* benötigte Felder.</p>
        <button class="btn btn-default">Hinzufügen</button>
      </form>
    </div>

    {{> importscript}}
    <script>
      var query = getUrlVars();

      if(query.success == "false"){
        $('#error').show();
      }
    </script>
  </body>
</html>
