<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    {{> import}}
  </head>
  <body>
    {{> loggedinheader}}
    <p>Das ist das Dashboard</p>
    <a href="/add">Add</a>
    <a href="/logout">Logout</a>
    <a href="/register">Neuen Nutzer registrieren</a>
    {{> footer}}
  </body>
</html>
