<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    {{> import}}
    <style>
      #buttons{
        margin-top: 20px;
        margin-bottom: 50px;
      }
      #buttons a{
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    {{> loggedinheader}}
    <p>Das ist das Dashboard</p>
    <div id="buttons">
      <a href="/add" class="btn btn-default">Neuen Kronkorken eintragen</a>
      <a href="/register" class="btn btn-default">Neuen Nutzer registrieren</a>
    </div>
  </body>
</html>
