<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <form id="registerForm" method="post" action="/register">
      <input type="email" name="email" placeholder="Email Adresse" />
      <input type="username" name="username" placeholder="Username" />
      <input type="password" name="password" placeholder="Passwort" />
      <button>Registrieren</button>
    </form>
    {{> footer}}
  </body>
</html>
