<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    {{> import}}
    <style>
      .row{
        margin-top: 20px;
        margin-bottom: 50px;
      }
    </style>
  </head>
  <body>
    {{> header}}
    <div id="error" class="alert alert-danger" role="alert" hidden>Fehler im Formular</div>
    <div id="erfolg" class="alert alert-success" role="alert" hidden>Nutzer registriert</div>
    <script>
      var query = getUrlVars();

      if(query.success == "true"){
        $('#erfolg').show();
        $('#error').hide();
      }else if(query.success){
        $('#erfolg').hide();
        $('#error').show();
        var str = query.success;
        str = str.replace(/%20/g, " ");
        $('#error').html(str);
      }
    </script>
    <div class="row">
      <div class="col-md-4">
        <form id="registerForm" method="post" action="/register">
          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" placeholder="Email Adresse" class="form-control" required autocomplete="off">
          </div>
          <div class="form-group">
            <label>Benutzername</label>
            <input type="username" name="username" placeholder="Benutzername" class="form-control" required autocomplete="off" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$" title="2-20 Buchstaben">
          </div>
          <div class="form-group">
            <label>Passwort</label>
            <input type="password" name="password" placeholder="Passwort" class="form-control" required autocomplete="off" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Mindestens 8 Zeichen, Klein- und Großbuchstaben und Sonderzeichen">
          </div>
          <button class="btn btn-default">Registrieren</button>
        </form>
      </div>
    </div>
  </body>
</html>
